.header {
	background-color: #71a3ff;
	color: white;
	text-align: center;
	padding: 2px;
	height: 50px;
}

.body {
	padding: 10px;
}

.footer {
	background-color: #71a3ff;
	color: white;
	clear: both;
	text-align: center;
	padding: 5px;
	height: 50px;
}

.error {
	color: red;
}
.left{
	float: left;
}
